* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1e1e1e;
}

.scree {
    width: 1500px;
    height: 720px;
    margin: 5vh auto;
    overflow: hidden;
    position: relative;
}

.bgImage {
    width: 1500px;
    height: 100%;
    background: url(./image/SkyTileSprite.png) 0 0;
    background-size: 100% 100%;
    position: absolute;
    left: 0px;
}

.tubeMoving {
    animation: tubeMoving 10s linear infinite;
}

.bgImage2 {
    width: 1500px;
    height: 100%;
    background: url(./image/SkyTileSprite.png) 0 0;
    background-size: 100% 100%;
    position: absolute;
    left: 1500px;
}

.bootonGreen {
    width: 1500px;
    height: 100px;
    background: url(./image/GrassThinSprite.png) 0px -250px;
    position: absolute;
    bottom: 0px;
    z-index: 2;
}

.bootonGreen2 {
    width: 1500px;
    height: 100px;
    background: url(./image/GrassThinSprite.png) 0px -250px;
    position: absolute;
    bottom: 0px;
    left: 1500px;
    z-index: 2;
}

.bird {
    width: 64px;
    height: 34px;
    background: url(./image/BirdHero.png) no-repeat 0px 0px;
    background-size: cover;
    position: absolute;
    top: 400px;
    left: 200px;
}

.gameStart button {
    width: 250px;
    height: 70px;
    position: absolute;
    top: 40%;
    left: 40%;
    border: 0;
    border-radius: 30px;
    background-color: grey;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.gameStart button:hover {
    background-color: greenyellow;
    color: black;
}

.gameEnd {
    width: 350px;
    display: none;
    position: absolute;
    top: 35%;
    left: 35%;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.gameEnd span {
    width: 350px;
    height: 100px;
    display: block;
    line-height: 100px;
}

.gameEnd button {
    width: 250px;
    height: 70px;
    border: 0;
    border-radius: 30px;
    background-color: grey;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.gameEnd button:hover {
    background-color: greenyellow;
    color: black;
}


/* 管道 */

.tubeTop {
    width: 90px;
    height: 420px;
    background: url(./image/ColumnSprite.png) no-repeat 0 0;
    background-size: cover;
    transform: rotate(180deg);
}

.tubebotton {
    width: 90px;
    height: 420px;
    background: url(./image/ColumnSprite.png) no-repeat 0 0;
    background-size: cover;
    margin-top: 100px;
}

.tube {
    position: absolute;
    top: 0;
}

.tube:nth-child(1) {
    left: 400px;
}

.tube:nth-child(2) {
    left: 700px;
}

.tube:nth-child(3) {
    left: 1000px;
}

.tube:nth-child(4) {
    left: 1300px;
}

.tube:nth-child(5) {
    left: 1600px;
}

.tube:nth-child(6) {
    left: 1900px;
}


/* 得分 */

.scroe {
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 50px;
}